# OS X
.DS_Store
www/cordova*
/nbproject/private/
/www/js/lib/cordova.js
/www/js/lib/cordova_plugins.js
/www/js/lib/FileUploadResult.js
/www/js/lib/Metadata.js
/www/js/lib/Connection.js
/www/js/lib/Entry.js
/www/js/lib/ProgressEvent.js
/www/js/lib/FileReader.js
/www/js/lib/FileEntry.js
/www/js/lib/FileWriter.js
/www/js/lib/FileError.js
/www/js/lib/Flags.js
/www/js/lib/FileUploadOptions.js
/www/js/lib/FileSystem.js
/www/js/lib/LocalFileSystem.js
/www/js/lib/DirectoryEntry.js
/www/js/lib/FileTransfer.js
/www/js/lib/FileTransferError.js
/www/js/lib/File.js
/www/js/lib/DirectoryReader.js
/www/js/lib/device.js
/www/js/lib/requestFileSystem.js
/www/js/lib/resolveLocalFileSystemURI.js
/www/js/lib/network.js
/www/ProgressEvent.js
/www/FileUploadResult.js
/www/Flags.js
/www/FileUploadOptions.js
/www/FileError.js
/www/FileSystem.js
/www/FileEntry.js
/www/DirectoryEntry.js
/www/Connection.js
/www/FileReader.js
/www/File.js
/www/FileTransferError.js
/www/Entry.js
/www/FileWriter.js
/www/Metadata.js
/www/FileTransfer.js
/www/LocalFileSystem.js
/www/DirectoryReader.js
/www/device.js
/www/requestFileSystem.js
/www/resolveLocalFileSystemURI.js
/www/network.js
/www/plugins/